{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAB BigData CMDB</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstraptable/bootstrap-table.min.css' %}">
    <style>
        .page-header {
            padding-bottom: 9px;
            margin: 20px 0 20px;
            border-bottom: 1px solid #eee;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    {{ request.user }}
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    Graph Devops
                </a>
            </li>
            <li>
                <a href="/"><i class="fa fa-fw fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="/host"><i class="fa fa-fw fa-folder"></i> Host Center</a>
            </li>
            <li>
                <a href="/cluster"><i class="fa fa-fw fa-file-o"></i> Cluster Center</a>
            </li>
            {#            <li>#}
            {#                <a href="/job"><i class="fa fa-fw fa-cog"></i> Job Center</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="/history"><i class="fa fa-fw fa-cog"></i> History</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="/report"><i class="fa fa-fw fa-cog"></i> Report</a>#}
            {#            </li>#}
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <a class="col-md-offset-10" href="{% url 'logout' %}">注销登录</a>
        <div class="container">
            <div class="row">
                <h1>大数据主机信息</h1>
            </div>
            {#            <div class="row">#}
            {#                <form action="cluster" method="post">#}
            {#                    {% csrf_token %}#}
            {#                    <div class="form-row">#}
            {#                        <div class="form-group col-md-6">#}
            {#                            <label>Cluster ID</label>#}
            {#                            <input type="text" class="form-control" name="cluster_id" placeholder="Cluster ID">#}
            {#                            <small id="emailHelp" class="form-text text-muted">Cluster是唯一主键</small>#}
            {#                        </div>#}
            {#                        <div class="form-group col-md-6">#}
            {#                            <label>Cluster Name</label>#}
            {#                            <input type="text" class="form-control" name="cluster_name" placeholder="Cluster Name">#}
            {#                            <small id="emailHelp" class="form-text text-muted">Cluster是唯一主键</small>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="form-row">#}
            {#                        <div class="form-group col-md-6">#}
            {#                            <label>Cluster Type</label>#}
            {#                            <input type="text" class="form-control" name="cluster_type" placeholder="Cluster Type">#}
            {#                            <select id="inputState" class="form-control">#}
            {#                                {% for type in cluster_type %}#}
            {#                                    <option>{{ type }}</option>#}
            {#                                {% endfor %}#}
            {#                            </select>#}
            {#                            <small id="emailHelp" class="form-text text-muted">Cluster是唯一主键</small>#}
            {#                        </div>#}
            {#                        <div class="form-group col-md-6">#}
            {#                            <label>Cluster Version</label>#}
            {#                            <input type="text" class="form-control" name="cluster_version"#}
            {#                                   placeholder="Cluster Version">#}
            {#                            <small id="emailHelp" class="form-text text-muted">Cluster是唯一主键</small>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="form-group col-md-6">#}
            {#                        <button type="submit" class="btn btn-primary">Submit</button>#}
            {#                    </div>#}
            {##}
            {#                </form>#}
            {#            </div>#}

            <div class="row">
                <table id="hdfs-table"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true"
                       data-detail-view="true"
                       data-detail-formatter="detailFormatter">
                    <thead>
                    <tr>
                        <th>主机名</th>
                        <th data-field="name">IP地址</th>
                        <th>序列号</th>
                        <th>机架号</th>
                        <th>CPU数</th>
                        <th>内存数</th>
                        <th>OS版本</th>
                        <th>服务器类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in AllhostObject %}
                        <tr>
                            <td>{{ object.host_name }}</td>
                            <td data-field="name">{{ object.ip_address }}</td>
                            <td>{{ object.serial }}</td>
                            <td>{{ object.rack_id }}</td>
                            <td>{{ object.num_cpu }}</td>
                            <td>{{ object.num_mem }}</td>
                            <td>{{ object.os_version }}</td>
                            <td>{{ object.machine_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstraptable/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstraptable/extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>
<!-- add django csrf -->
{% csrf_token %}
<script type="text/javascript">
    // add django csrf
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val()

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function detailFormatter(index, row) {
        var html = [];
        var jdata = ""
        $.ajax({
            type: 'POST',
            url: "/getclusterinfo",
            data: {
                "ip": row.name
            },
            async: false,
            success: function (data) {
                jdata = $.parseJSON(data);
            },
        });
        html.push('<p><b>' + jdata.cluster + ' </p></b>')
        html.push('<p><b>' + jdata.cluster + ' </p></b>')
        return html.join('');
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;
        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>
</body>
</html>